# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\NTolkachev\DatagripProjects\health-samurai-postgresql\.idea/dataSources/
/dataSources.local.xml
